/* Imports */


/* Variables */
:root {
    --mainFont: Source Sans Pro;

    --primaryThemeColor: #00275E;
    --primaryThemeColor-light:#DEB406;
    --primaryThemeColor-neutral:#747171;
}

/* General CSS */
body{
    font-family: var(--mainFont);
    padding: 1em;
}

/* CSS for header */


/* CSS for main content */


/* CSS for footer */


/* Media Query Breakpoint */
@media screen and (min-width: 40em) {
        
}
