/* Imports */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap");

/* Variables */
:root {
  --mainFont: "Source Sans Pro", "Open Sans", "Helvetica Neue", sans-serif;
  /*  */

  --primaryThemeColor: #014B77;
  --primaryThemeColor-light: #deb406;
  --primaryThemeColor-neutral: #747171;
  
  --defaultColor: rgb(0, 0, 0);
}

/* General CSS */
body {
  font-family: var(--mainFont);
}

/* CSS for header */
.header {
  background-color: var(--primaryThemeColor);
  width: 100%;
  padding: 0.2em 0;  
}
.navbar {
  /* padding: 0.5em 0.5em; */
  display: grid;
  grid-template-columns: 2em auto 4em;
  grid-template-areas:
    "drop logo acon"
    "srch srch srch"
    "men men men";
}
.drop-menu {
  grid-area: drop;
  padding: 0.5em 0 0 0.5em;
}
.drop-menu > button {
  border: none;
  color: white;
  background-color: var(--primaryThemeColor);
}
.logoPlace {
  grid-area: logo;
  text-align: center;
  padding-top: 0.1em;
}
.logo {
  height: auto;
  max-height: 35px;
}
.account {
  grid-area: acon;
  vertical-align: middle;
}
.account button {
  font-size: 2em;
  color: white;
  background-color: var(--primaryThemeColor);
  border: none;
}
.account li {
  display: inline;
}
.searchbar {
  grid-area: srch;
  padding-top: 0.5em;
  display: none;
  color: white;
}
.searchbar label {
  margin-left: 1em;
}
.searchbar button {
  border: none;
  background-color: var(--primaryThemeColor);
  color: white;
}

.search {
  /* background-color:#dddddd; */
  border: black 0.05em solid;
  border-radius: 0.5em;
  color: #aaaaaa;
  padding: 0.2em;
  /* font-size: 0.9em; */
}
.mainmenu {
  grid-area: men;
  display: none;
  text-align: left;
  padding-left: 1em;
  width: fit-content;
  font-size: 1.15em;
}
.mainmenu a {
  display: block;
  color: white;
  text-decoration: none;
  font-family: var(--mainFont);
  line-height: 2;
}
.mainmenu a:hover {
    border-bottom: 1px solid #ffffff;
  }


/* CSS for header ends */

/* CSS for main content */
/* css for students page */
.student-name{
  color: var(--primaryThemeColor);
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 0.15rem;
}

.student-position{
  color: var(--primaryThemeColor-neutral);
  text-align: center;
  font-weight: lighter;
  font-size: 1rem;
}

.student-basic{
  padding-top: 2em;
}

.student-basic img{
  display: block;
  border-radius: 50%;
  max-width: 50%;
  margin: 0.5em auto;
}

.student-basic a{
  text-decoration: none;
}

/* css for student personal page */
.class-of{
  display: grid;
  justify-items: center;   
  margin: 0.5em; 
}

.graduation{
  color: var(--primaryThemeColor-light);
  font-weight: bold;
  font-size: 1.2rem;
  padding-top: 0.5em;
}

.personal-basic img{
  display: block;
  border-radius: 50%;
  max-width: 40%;
  margin: 0.5em auto;
}

.full-name{
  color: var(--primaryThemeColor);
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.15rem;
}

.professional-position{
  color: var(--primaryThemeColor-neutral);
  text-align: center;
  font-weight: lighter;
  font-size: 1.5rem;
}

.personal-contact{
  display: grid;
  grid-template-columns: 3em 1em auto;
}

.personal-contact i{
  text-align: center;
}

.vertical-line { 
  border-left: 1px solid var(--primaryThemeColor-light);
  height: 1.2em; 
}

.horizontal-line{
  height: 1px;
  color: var(--primaryThemeColor-light);
  background-color:var(--primaryThemeColor-light);
  border: none;
}

.paragraph-title{
  color: var(--primaryThemeColor-neutral);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  margin-top: 1rem; 
  margin-bottom: 0.5rem;
}

.group-title{
  color: var(--primaryThemeColor);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.paragraph-content{
  line-height: 1.6rem;
  margin-bottom: 0.5rem;
}

.portfolio-link a{
  color: var(--defaultColor);
  text-decoration: none;
}

.portfolio-link a:hover{
  color: var(--primaryThemeColor-neutral);  
}

.personal-social-media{
  display: grid;
  grid-template-columns: 2em 2em 2em 2em 2em;
  padding: 0.5em;
  font-size: 2em;
}

.personal-social-media a{
  color: var(--defaultColor);
  text-decoration: none;
}

.personal-social-media a:hover 
{
  color: var(--primaryThemeColor-light);  
}

.job-position{
  color: var(--primaryThemeColor-neutral);
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1em;
  margin-top: 1rem; 
}

.company-name{
  color: var(--primaryThemeColor-neutral);
  font-weight: bolder;
  font-size: 1em;
  margin-top: 0.3rem; 
  margin-bottom: 0.5rem;
}

.title-icon{
  display: grid;
  grid-template-columns: 2em auto;
}

/* css for footer starts here */
.footer {
  background-color: #2c333a;
  color: white;
  
}
.footer a{
    font-family: var(--mainFont);
}
.test {
  padding-top: 1em;
  margin-left: 1em;
}
.test a {
  opacity: 0.5;
  text-decoration: none;;
}
.test a:hover {
  opacity: 1;
}
.test a:after {
  content: ">";
  color: white;
  padding: 0 0.5em;
}
.test h2 {
  display: inline;
  color: #B7B7B7;
}
.footer > p {
  padding-bottom: 1em;
  font-size: 0.9em;
}

.test {
    text-align: left;
}
.foot-align{
  margin-top: 1em;
}  
.foot-align a,
.footer-bottom a {
  padding: 0.5em;
  display: block;
  text-decoration: none;
  color: #ffffff;
  margin-left: 0.75em;
  width: fit-content;
}
.foot-align a{
    color: #B7B7B7;
    margin: 0 auto;
}
.foot-align a:hover,
.footer-bottom a:hover {
  text-decoration: underline;
}
.fut-std{
    grid-area: myhum;
}
.icon {
  grid-area: icon;
  font-size: 1.5em;
  text-align: center;
  margin: 0 auto;
  color: white;
}
.small {
  font-size: small;
}
.icon a {
  color: white;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.icon i {
  padding: 1rem 1rem;
  background: #6f727f;
  transition: background-color 1s;
  border-radius: 1.5em;
}
.f:hover {
  background-color: #3b5998;
}
.t:hover {
  background-color: #1da1f2;
}
.i:hover {
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
.in:hover {
  background-color: #0e76a8;
}
.y:hover {
  background-color: #ff0000;
}
.copyright {
  margin-top: 1em;
  margin-left: 1em;
}
.orBetween {
  width: 100%;
  border-bottom: 1.5px solid #deb406;
  line-height: 0.1em;
}

.footer-bottom {
  padding: 1em 0;
}

/* css for footer ends here */
.visible {
  display: block;
}
.invisible {
  display: none;
}

/* Media Query Breakpoint */
@media screen and (min-width: 430px) {
  .foot-align {
    display: grid;
    grid-template-columns: 0.9fr auto 0.9fr;
    grid-gap: 0.5em;
    grid-template-areas:
      "progr stude conta"
      ". myhum ."
      "icon icon icon";
  }
  
}
@media screen and (min-width: 40em) {
  /* media queries for header */
  .navbar {
    grid-template-columns: 12.5em auto 2em 4.2em;
    grid-template-areas: "logo men srch acon";
  }
  .drop-menu {
    display: none;
  }
  .logoPlace {
    text-align: left;
    margin-left: 0.75em;
    padding-top: 0.3em;
  }
  .mainmenu {
    padding-left: 0;
    display: block;
    width: auto;
  }
  .mainmenu > ul {
    display: flex;
    justify-content: space-evenly;
  }
  
  .searchbar {
    display: block;
    padding-top: 0.45em;
    position: relative;
  }
  .srchicon {
    display: block;
    grid-area: srch;
    color: white;
    text-align: center;
  }
  .notVisible {
    display: none;
  }
  .makeVisible {
    /* display:inline-block; */
    position: absolute;
    top: 2em;
    right: -3em;
    z-index: 2;
  }
  /* media queries for footer */
  
  .footer-bottom {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    justify-content: space-between;
  }
  .footer-bottom :first-child,
  .footer-bottom :nth-child(2),
  .footer-bottom :nth-child(3) {
    border-right: 1px solid #deb406;
  }
  .footer-bottom a {
    padding: 0 1em;
  }

  /* media queries for footer -end */

  /* media queries for header- end */

  /* breakpoint for students page */
  .all-students{
    display: grid;
    grid-template-columns: 15em 15em 15em;
  }
}
@media screen and (min-width: 75em) {
  .navbar {
    grid-template-columns: 12.5em auto 16em 4.2em;
    grid-template-areas: "logo men srch acon";
  }
  .search,
  .Slabel {
    display: inline-block;
    opacity: 0;
  }
  .searchVisible{
    opacity: 1;

  }
  .test{
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 1em;
    /* margin-left: 1em; */
  }
  .foot-align {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
    grid-template-areas: "progr stude myhum conta icon";
    margin-bottom: 1em;
    max-width: 1600px;
    margin: 0 auto;
  }
  .copyright{
    margin-left:2em;
  }
  .icon {
    margin-top: 0.25em;
  }
  .footer-grid {
    display: grid;
    grid-template-columns: 2fr 5fr;
  }
  .footer-bottom {
    margin-right: 2em;
  }

  /* breakpoint for students page */
  .all-students{
    display: grid;
    grid-template-columns: 17em 17em 17em 17em;
  }
  
  /* breakpoint for student personal page */
  .graduation{
    font-size: 2.5rem;
  }
  
  .student-profile{
    display: grid;
    grid-template-columns: 24em  29em;
    grid-template-areas:  "intro indepth";
    padding-top: 3em;
  }

  .student-intro{
    grid-area: intro;
  }
  
  .student-indepth-detail{
    grid-area: indepth;
    padding-left: 5em;
  }

}
